[submodule "plugins/voicewp"]
	path = plugins/voicewp
	url = https://github.com/tomharrigan/voicewp.git
[submodule "themes/twentynineteen"]
	path = themes/twentynineteen
	url = https://github.com/WordPress/twentynineteen.git
[submodule "plugins/wordpress-fieldmanager"]
	path = plugins/wordpress-fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager.git
